.hidden-menu {
  padding: 1rem 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.hidden-menu2 {
  padding: 1rem 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
}

.esconder-menu {
  padding: 1rem 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
}

.flex-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav-item {
  padding: 0.5rem 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 1.15;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
}

@media (min-width: 60em) {
  .hidden-menu {
    width: 50%;
    padding-right: 1rem;
    display: none;
  }

  .hidden-menu2 {
    width: 50%;
    padding-right: 1rem;
    display: block;
  }

  .flex-list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .nav-item {
    border-bottom-style: none;
  }
}
