.bars-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 10px;
}

.bars {
    height: 10px;
    width: 30px;
    border-bottom: 3px solid #fff;
}

@media (min-width: 60em) {
    .bars-container {
        display: none;
    }
}